$main-bg-color: #141414;
$main-darker: #262626;
$text-color: #fff;
$buttons-color: #703BF7;

$main-font: 'Play';


* {
    box-sizing: border-box;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}


body {
    background: $main-bg-color;
}

a, p, h1, h2, h3, h4, label, input, select, button, div {
    color: $text-color;
    font-family: $main-font;
}

input, select {
    background-color: $main-darker;
    font-size: 25px;
}

h1 {
    font-weight: 700;
    font-size: 28px;
}

a {
    text-decoration: none;
    font-size: 25px
}

button, select, input[type="submit"] {
    cursor: pointer;
    border: none;
}

main {
    @include flex-col;
    align-items: center;
    padding: 30px 0;
}

section {
    padding: 15px 0;
    width: 92%;
    @include flex-col;
    align-items: center;
    margin-bottom: 30px;
}

form {
    @include flex-col;
    gap: 20px;
}

img {
    border-radius: 8px;
    max-width: 100%
}


input, select {
    width: 100%;
    height: 49px;
    border: none;
    border-radius: 8px;
}

input[type="submit"], button {
    background-color: $buttons-color;
    border-radius: 8px;
    font-size: 14px;
}

select {
    font-size: 14px;
}

.title-card {
    padding: 24px;
    width: 90%;
    @include flex-col;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.title-cards {
    @include flex-col;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    a:first-of-type {
        display: flex;
        height: 120px;
        align-items: flex-end;
        margin-bottom: 15px;
    }
}

.title__page {
    .link__container {
        width: 95%;
        margin-bottom: 20px;
    }
    a {
        font-size: 15px;
        width: fit-content;
    }
}

.volumes__block {
    width: 90%;
    @include flex-col;
    gap: 10px;
}

.volume {
    width: 100%;
    button {
        width: 100%;
        height: 35px;
        color: $text-color;
        font-size: 20px;
    }
}

.volume__inner {
    display: flex;
    color: $text-color;
    gap: 5px;
    justify-content: center;
    display: none;
    .chapter {
        margin: 20px 0;
        background-color: #703BF7;
        width: 30px;
        height: 30px;
        text-align: center;
    }
}

.content__block {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.manga-content {
    margin: 30px 0;
    height: 400px;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    color: $main-bg-color;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.page-turner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    .prev, .next {
        width: 50%;
    }
}

.manga__nav {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: center;
    button {
        width: 30px;
        height: 30px;
    }
}




@media (min-width: 500px) {
    .title-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .title-card {
            width: 45%;
            img {
                height: 400px;
            }
        }
    }
    .manga-content {
        width: 500px;
        height: 700px;
    }
}



@media (min-width: 768px) {
    .title-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .title-card {
            width: 33%;
        }
    }
    .title__page {
        section:first-of-type {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
       .title-pic__block {
        width: 40%;
       }
       p {
        width: 50%;
        font-size: 20px;
       }
       h1 {
        font-size: 35px;
       }
    }
    .manga-content {
        width: 700px;
        height: 1100px;
    }
}



@media (min-width: 800px) {
    .title__page {
        section {
            width: 80%;
        }
    }
}


@media (min-width: 1024px) {
    .title__page p {
        width: 40%;
       }
       .title__page .title-pic__block {
        width: 50%;
       }

}


@media (min-width: 1440px) {
    .title-cards {
        .title-card {
            width: 20%;
        }
    }

    .title__page p {
        width: 60%;
       }
    .title__page h1 {
        font-size: 40px;
    }

}